{%extends "home.html"%}

{% load static %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">
{% endblock %}

{%block content%}
<div class="detail">
    <h3>タイトル: {{ article.title }}</h3>
    <small>記事id: {{article.id}}</small>
    <hr>
    <div class="summary">
      {{ article.body | linebreaksbr }}
    </div>
    <small>投稿日時:{{ article.posted_at }}</small>
    <p>
      <a href="{%url 'sampleapp:index'%}">戻る</a> |
      <a href="{%url 'sampleapp:update' article.id%}">編集する</a> |
      <a href="{%url 'sampleapp:delete' article.id%}">削除する</a>
    </p>
</div>
{%endblock%}