{%extends "home.html"%}

{% load static %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">
{% endblock %}

{%block content%}
<div class="detail">
    <h3>Title: {{ article.title }}</h3>
    <hr>
    <small>投稿日時:{{ article.posted_at }}</small>
    <div class="summary">
      {{ article.body | linebreaksbr }}
    </div>
    <p>
      <a href="{%url 'sampleapp:index'%}">Top</a> |
      <a href="{%url 'sampleapp:update'　article.id%}">Edit</a> |
      <a href="{%url 'sampleapp:delete' article.id%}">Delete</a>
    </p>
</div>
{%endblock%}