{%extends "home.html"%}

{% load static %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}

{%block content%}
<div class="index">
  <h2>記事一覧</h2>
  <hr>
  {%if articles%}
    {%for article in articles%}
      <a href="">{{article.title}}</a> 
      <small>[{{article.posted_at}}]</small>
      <div class="summary">
        {{article.body | linebreaksbr}}
      </div>
    {%endfor%}
    {%else%}
      <p>No article.</p>
  {%endif%}

  <h2>メディア</h2>
  <hr>
  {%if medias%}
    {%for media in medias%}
      {{media.title}}
      <small>[{{media.posted_at}}]</small>
      <div class="summary">
        {{media.image | linebreaksbr}}
      </div>
    {%endfor%}
    {%else%}
      <p>No media.</p>
  {%endif%}
</div>
  
{%endblock%}