{%extends "home.html"%}

{%block content%}

  <h1>Articles</h1>
  {%if articles%}
    {%for article in articles%}
      <a href="{%url 'sampleapp:detail' article.id%}">{{article.title}}</a> 
      <small>[{{article.posted_at}}]</small>
      <div>
        {{article.body | linebreaksbr}}
      </div>
    {%endfor%}
    {%else%}
      <p>No article.</p>
  {%endif%}

  <h1>Media</h1>
  {%if medias%}
    {%for media in medias%}
      {{media.title}}
      <small>[{{media.posted_at}}]</small>
      <div>
        {{media.image | linebreaksbr}}
      </div>
    {%endfor%}
    {%else%}
      <p>No media.</p>
  {%endif%}

{%endblock%}