
body {
    font-family: "メイリオ";
}

h1 {
    padding: 0.1em;
    color: #010101;
    background: #eafff5;
    border-bottom: solid 3px #51b67e;
  }

#header {
    background-color: #17194c;
    padding: 10px 20px 10px 20px;
    height: 40px;
}

#header img {
    height: 100%;
}

.full-page {
    height: 100vh;
  
    background: #fefffc;
  }