<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>Sample Application (index.html)</h1>
    <form action="{%url 'index'%}" method="post">
      {%csrf_token%}
      <div>
        <label for="titleInput">Title</label>
        <input id="titleInput" name="title" type="text" placeholder="Input Title">
      </div>
      <div>
        <label for="textInput">Task</label>
        <textarea id="taskInput" name="task" rows="5"></textarea>
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>

    <br>
    {%if articles%}
    {%for article in articles%}
    <a href="{%url 'detail' article.id%}">{{article.title}}</a>
    <small>[{{article.posted_at}}]</small>
    <div>
      {{article.body | linebreaksbr}}
    </div>
    {%endfor%}
    {%else%}
    <p>No article.</p>

  </body>
</html>