<!DOCTYPE html> <head><meta charset="UTF-8"> </head>
<body>
    <div class="profile-card">
        <div class="icon"></div>
        <div class="banner"></div>
        <ul>
            <li>Sample Name</li>
            <li>description here</li>
        </ul>
        <div class="social-media">
            <a href=""><i class="twitter"></i></a>
            <a href=""><i class="facebook"></i></a>
            <a href=""><i class="instagram"></i></a>
            <a href=""><i class="tiktok"></i></a>
        </div>
    </div>

    <div class="image">
        <form>
            <input type="file", name="example", accept=".png, .jpg, .jpeg, .gif" required>
            <button type="submit">送信</button>
        </form>
    </div>
    
</body>