<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Profile page</title>
    <link rel="stylesheet" type="text/css" href="static/sampleapp/tmp.css">
</head>


{% block link %}
{% endblock %}
<body>
    <nav class="navbar-header">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Django sampleapp</a>
        </div>

        <div id="gnavi" class="collapse navbar-collapse">
            <ul class="navbar-nav navbar-right">
                <li><a href="">Profile</a></li>
            </ul>
        </div>
    </nav>

{%block content%}
<!-- ページごとのコンテンツ -->
{%endblock%}

</body>